<!doctype html>

<html lang="es">

<head>
	<title>Registrar un cuenta</title>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
		integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="css/register.css">

	<!-- reCaptcha Libraries-->
	<script
		src="https://www.google.com/recaptcha/enterprise.js?render=6LeGeNclAAAAANJYV865g-VILQD_3-NzbCUCSE6u"></script>
	<script>
		grecaptcha.enterprise.ready(function () {
			grecaptcha.enterprise.execute('6LeGeNclAAAAANJYV865g-VILQD_3-NzbCUCSE6u', { action: 'login' }).then(function (token) {
				document.getElementById('recaptcha-container').innerHTML = '<input type="hidden" name="g-recaptcha-response" value="' + token + '">';
			});
		});
	</script>

	<!-- validation Libraries-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="../views/js/validatePassword.js"></script>

</head>

<header>
	<div class="logo">
		<p1><a href="../index.html">Seguridad informática</a></p1>
	</div>
</header>

<body>

	<div class="card">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1>Seguridad informática</h1>
					<p>Registrar una cuenta para ingresar a la página</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-6">
					<h3>Registrar una cuenta</h3>
					<hr />

					<form method="post" id="myform" action="../controllers/redirigirController.php"
						data-sitekey="6LeGeNclAAAAANJYV865g-VILQD_3-NzbCUCSE6u">
						<div class="form-group">
							<input type="text" class="form-control" name="nombre" placeholder="Ingrese su nombre"
								required>
						</div>

						<div class="form-group">
							<input type="text" class="form-control" name="apellidoP"
								placeholder="Ingrese su apellido paterno" required>
						</div>

						<div class="form-group">
							<input type="text" class="form-control" name="apellidoM"
								placeholder="Ingrese su apellido materno" required>
						</div>

						<div class="form-group">
							<input type="email" class="form-control" name="email" aria-describedby="emailHelp"
								placeholder="Ingrese su correo electronico" required>
						</div>

						<div class="form-group">
							<input type="password" class="form-control" name="pwd" placeholder="Ingrese una contraseña"
								required oninput="validarContrasena()">
						</div>

						<div id="recaptcha-container"></div>
						<button style="background-color: #1f7765;" type="submit" name="registrarUsuario"
							onclick="registrarUsuario()" class="btn btn-success btn-block">Registrar cuenta</button>
					</form>


				</div>
				<div class="col-sm-12 col-md-6 col-lg-6">
					<h3>Iniciar sesión</h3>
					<hr />
					<p>¿Ya cuentas con una cuenta registrada? <a href="login.html" title="Login Here">Inicia sesión
							aquí</a></p>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div class="footer-info">
			<p>Proyecto final: Seguridad informática</p>
			<p>Equipo: Marchena</p>
		</div>
		<div class="footer-social">
			<ul>
				<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
				<li><a href="#"><i class="fab fa-twitter"></i></a></li>
				<li><a href="#"><i class="fab fa-instagram"></i></a></li>
			</ul>
		</div>
	</footer>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
		integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
		crossorigin="anonymous"></script>

</body>

</html>